<form novalidate (ngSubmit)="onSubmit()" [formGroup]="cpi" class="row justify-content-md-center">
  <div class="col-md-8">
    <div class="form-group row">
      <label class="col-md-2 col-form-label">Email</label>
      <div class="col-md-10">
        <input class="form-control" type="text" formControlName="email">
      </div>
    </div>
    <div class="col alert alert-danger" role="alert"
         *ngIf="cpi.get('email')?.errors?.required && cpi.get('email')?.touched">
      Bạn phải nhập Email !
    </div>
    <div class="col alert alert-danger" role="alert"
         *ngIf="cpi.get('email')?.errors?.email && cpi.get('email')?.touched">
      Bạn phải nhập đúng định dạng của email !
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-10 offset-md-2">
      <button class="btn btn-primary" type="submit" (click)="onSubmit()" [disabled]=!this.cpi.valid >Submit</button>
    </div>
  </div>
</form>



