<ng-template [ngIf]="user">
  <p-card>
    <form [formGroup]="formUser" (ngSubmit)="onSubmit()">
      <div class="row">
        <img [src]="avatarUrl" alt="Avatar"
             style="width:200px; border-radius: 50%;  margin: 0 auto 20px;">
      </div>
      <div class="row mb-4" style="margin-left: 45%;">
        <p-fileUpload mode="basic" chooseLabel="Ảnh đại diện" (onSelect)="onSelectedAvatar($event)"
                      accept="image/*" [showUploadButton]="false" [showCancelButton]="false"></p-fileUpload>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6" style="display: none">
          <div class="row">
            <label class="label col-3 col-form-label ">Họ và Tên</label>
            <div class="col-9">
              <input type="text" pInputText class="form-control" formControlName="name" [(ngModel)]="user.name">
            </div>
          </div>
          <div class="col alert alert-danger" role="alert"
               *ngIf="formUser.get('name')?.errors?.required && formUser.get('name')?.touched">
            Bạn phải nhập họ tên!
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="row">
            <label class="label col-3 col-form-label ">Họ và Tên</label>
            <div class="col-9">
              <input type="text" pInputText class="form-control" formControlName="name" [(ngModel)]="user.name">
            </div>
          </div>
          <div class="col alert alert-danger" role="alert"
               *ngIf="formUser.get('name')?.errors?.required && formUser.get('name')?.touched">
            Bạn phải nhập họ tên!
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="row">
            <label class="label col-3 col-form-label">Email</label>
            <div class="col-9">
              <input type="text" pInputText class="form-control" formControlName="email" [(ngModel)]="user.email">
            </div>
          </div>
          <div class="col alert alert-danger" role="alert"
               *ngIf="formUser.get('email')?.errors?.required && formUser.get('email')?.touched">
            Bạn phải nhập gmail!
          </div>
        </div>
      </div>
      <div class="form-row" style="margin-bottom: 20px;">
        <div class="col-md-6">
          <div class="row">
            <label class="label col-3 col-form-label">Số điện thoại</label>
            <div class="col-9">
              <input type="text" pInputText class="form-control" formControlName="phoneNumber"
                     [(ngModel)]="user.phoneNumber">
            </div>
          </div>
          <div class="col alert alert-danger" role="alert"
               *ngIf="formUser.get('phoneNumber')?.errors?.required && formUser.get('phoneNumber')?.touched">
            Bạn phải nhập số điện thoại!
          </div>
          <div class="col alert alert-danger" role="alert"
               *ngIf="formUser.get('phoneNumber')?.errors?.pattern && formUser.get('phoneNumber')?.touched">
            Bạn phải nhập đúng định dạng số điện thoại!
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <label class="label col-3 col-form-label">Ngày sinh</label>
            <div class="col-9">
              <p-calendar [(ngModel)]="user.birthday" [showTime]="true" inputId="time" formControlName="birthDay"
                          [placeholder]="birthday"></p-calendar>
            </div>
          </div>

        </div>

      </div>
      <div class="form-row">
        <div class="col-md-6">
          <div class="row">
            <label class="label col-3 col-form-label">Quê quán</label>
            <div class="col-9">
              <input type="text" pInputText class="form-control" formControlName="homeTown" [(ngModel)]="user.homeTown">
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <div class="row">
            <label class="label col-sm-3 col-form-label">Giới tính</label>
            <div class="col-sm-9">
              <select
                class="custom-select mb-3"
                formControlName="gender"
                [(ngModel)]="user.gender"
              >
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
              </select>
            </div>
          </div>
        </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="row">
            <label class="label col-3 col-form-label ">Trình độ học vấn</label>
            <div class="col-9">
              <select
                class="custom-select mb-3"
                formControlName="academicLevel"
                [(ngModel)]="profiles.academicLevel.code"
              >
                <option *ngFor="let academicLevel of academicLevels" [ngValue]="academicLevel">
                  {{ academicLevel.code }}
                </option>
              </select>
            </div>
          </div>
          <div class="col alert alert-danger" role="alert"
               *ngIf="formUser.get('academicLevel')?.errors?.required && formUser.get('academicLevel')?.touched">
            Bạn phải nhập trình độ học vấn!
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="row">
            <label class="label col-3 col-form-label">Mức lương mong muốn</label>
            <div class="col-9">
              <input type="number" pInputText class="form-control" formControlName="desiredSalary" min="0"
                     [(ngModel)]="profiles.desiredSalary">
            </div>
          </div>
          <div class="col alert alert-danger" role="alert"
               *ngIf="formUser.get('desiredSalary')?.errors?.required && formUser.get('desiredSalary')?.touched">
            Bạn phải nhập mức lương mong muốn !
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="row">
            <label class="label col-3 col-form-label ">Địa chỉ làm việc mong muốn</label>
            <div class="col-9">
              <input type="text" pInputText class="form-control" formControlName="desiredWorkingAddress"
                     [(ngModel)]="profiles.desiredWorkingAddress">
            </div>
          </div>
          <div class="col alert alert-danger" role="alert"
               *ngIf="formUser.get('desiredWorkingAddress')?.errors?.required && formUser.get('desiredWorkingAddress')?.touched">
            Bạn phải nhập địa chỉa làm việc mong muốn !
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="row">
            <label class="label col-3 col-form-label">Số năm kinh nghiệm</label>
            <div class="col-9">
              <input type="number" pInputText class="form-control" formControlName="numberYearsExperience" min="0"
                     [(ngModel)]="profiles.numberYearsExperience">
            </div>
          </div>
          <div class="col alert alert-danger" role="alert"
               *ngIf="formUser.get('numberYearsExperience')?.errors?.required && formUser.get('numberYearsExperience')?.touched">
            Bạn phải nhập số năm kinh nghiệm !
          </div>

          <div class="col alert alert-danger" role="alert"
               *ngIf="formUser.get('numberYearsExperience')?.errors?.pattern && formUser.get('numberYearsExperience')?.touched">
            Bạn chỉ được nhập số nguyên dương !
          </div>
        </div>
      </div>

      <div class="form-row">

        <div class="form-group col-md-6">
          <div class="row">
            <label class="label col-3 col-form-label ">Kĩ năng</label>
            <div class="col-9">
              <input type="text" pInputText class="form-control" formControlName="skill" [(ngModel)]="profiles.skill">
            </div>

          </div>
          <div class="col alert alert-danger" role="alert"
               *ngIf="formUser.get('skill')?.errors?.required && formUser.get('skill')?.touched">
            Bạn phải nhập trình độ học vấn!
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="row">
            <label class="label col-3 col-form-label ">Hình thức làm việc mong muốn</label>
            <div class="col-9">
              <select
                class="custom-select mb-3"
                formControlName="gender"
                [(ngModel)]="profiles.desiredWorkingForm"
              >
                <option value="Fulltime">Fulltime</option>
                <option value="Parttime">Parttime</option>
              </select>
            </div>

          </div>
          <div class="col alert alert-danger" role="alert"
               *ngIf="formUser.get('desiredWorkingForm')?.errors?.required && formUser.get('desiredWorkingForm')?.touched">
            Bạn phải nhập hình thức làm việc mong muốn !
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit" style="margin-left: 7vw;">Áp dụng</button>
    </form>
  </p-card>

</ng-template>
