<nav class="navbar navbar-expand-lg bg-success navbar-dark justify-content-between">
    <p-avatar image="https://product.bachkhoa-aptech.edu.vn:33/Resources/Images/logo-bkap-edu.png" (click)="onHome()" [style]="{'width':'auto', 'height': 'auto'}"></p-avatar>
    <!-- <p-avatar image="https://product.bachkhoa-aptech.edu.vn:33/Resources/Images/logo-bkap-edu.png" pBadge value="4" severity="danger" size="xlarge"></p-avatar> -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link">Việc làm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Hồ sơ & Cv</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Công ty</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Phát triển sự nghiệp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Công cụ</a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <ng-template [ngIf]="!user">
            <button pButton pRipple type="button" (click)="onSignIn()" label="Đăng nhập" class=" p-button-success mr-3"></button>
            <button pButton pRipple type="button" (click)="onSignUp()" label="Đăng kí"></button>
        </ng-template>
        <ng-template [ngIf]="user">
            <ng-template [ngIf]="user.name">
                <p-avatar [label]="user.name[0]" styleClass="mr-2" shape="circle" class="mt-2"></p-avatar>
            </ng-template>
            <button pButton pRipple type="button" (click)="onEditInfo()" label="Cập nhật thông tin" class=" p-button-success mr-3"></button>
            <button pButton pRipple type="button" (click)="onLogOut()" label="Thoát" class=" p-button-success mr-3"></button>
        </ng-template>
    </ul>
</nav>
<router-outlet></router-outlet>