<div class="d-flex container mt-3 mb-5">

  <p-autoComplete class="mr-5" [(ngModel)]="selectedUserName" placeholder="Tên người dùng..." field="userName" ></p-autoComplete>

  <p-autoComplete class="mr-5" [(ngModel)]="selectedEmail" placeholder="Email..." field="email" ></p-autoComplete>

  <p-autoComplete class="mr-5" [(ngModel)]="selectedPhoneNumber" placeholder="Số điện thoại..." field="phoneNumber" ></p-autoComplete>

  <p-button class="mr-2" label="Tìm kiếm" icon="pi pi-search" iconPos="right" [loading]="" (onClick)="onSearch()"></p-button>

  <p-button class="mr-2" label="Thêm JE" icon="pi pi-user-plus" iconPos="right" [loading]="" (onClick)="onAddJe()"></p-button>

</div>

<ngx-user-title *ngFor="let user of users" [user]="user"></ngx-user-title>

<p-paginator [rows]="2" [totalRecords]="totalRecords" [rowsPerPageOptions]="[2,5,10]" (onPageChange)="paginate($event)"></p-paginator>
