<ng-template [ngIf]="job">
  <div class="container">
    <div class="mb-5">
      <ng-template [ngIf]="user.roles[0].id === 1 || user.roles[0].id === 2">
        <p-button (onClick)="onUpdate()" label="Cập nhật" styleClass="p-button-sm" class="mr-2"></p-button>
      </ng-template>
      <ng-template [ngIf]="user.roles[0].id === 1 || user.roles[0].id === 2">
        <p-button label="Xem trước" (click)="onPreview(job.id)" styleClass="p-button-sm" class="mr-2"></p-button>
      </ng-template>
      <ng-template [ngIf]="user.roles[0].id === 1 && job.statusJob.id === 1">
        <p-button label="xét duyệt" (click)="onBrowse()" styleClass="p-button-sm" class="mr-2"></p-button>
      </ng-template>
      <ng-template [ngIf]="user.roles[0].id === 1 && job.statusJob.id === 1">
        <p-button (click)="showPositionDialog('top')" label="từ chối duyệt" styleClass="p-button-sm"
                  class="mr-2"></p-button>
      </ng-template>
      <ng-template [ngIf]="job.statusJob.id === 3">
        <p-button label="Đăng tuyển" (click)="onUp()" styleClass="p-button-sm" class="mr-2"></p-button>
      </ng-template>
      <ng-template [ngIf]="job.statusJob.id === 5">
        <p-button (click)="displayPositionReason = true" label="Xem lý do" styleClass="p-button-sm"
                  class="mr-2"></p-button>
      </ng-template>
      <ng-template [ngIf]="job.statusJob.id === 2">
        <p-button label="dừng tuyển" (click)="onStop()" styleClass="p-button-sm" class="mr-2"></p-button>
      </ng-template>
      <ng-template [ngIf]="job.statusJob.id === 2 || job.statusJob.id === 3">
        <p-button label="Đóng" (click)="onClose()" styleClass="p-button-sm" class="mr-2"></p-button>
      </ng-template>
      <ng-template [ngIf]="user.roles[0].id === 1 && job.statusJob.id === 5 ||job.statusJob.id === 4 ">
        <p-button label="Xóa" (click)="onDelete()" styleClass="p-button-sm" class="mr-2"></p-button>
      </ng-template>
    </div>
    <div class="d-flex">
      <div class="mb-4">
        <h2 href="#" class="display-5 font-weight-bold">{{job.name}}</h2>
        <p class="mt-3">Hạn nộp hồ sơ: {{this.job.dueDate | date}}</p>
      </div>
    </div>
    <h2>Thông tin chung</h2>
    <div class="d-flex justify-content-around badge badge-info mr-2 p-5">
      <div>
        <div>
          <h2>Mức lương</h2>
          <p>{{job.salaryMin}}-{{job.salaryMax}} triệu</p>
        </div>
        <div>
          <h2>Hình thức làm việc</h2>
          <p>{{job.workingForm.code}}</p>
        </div>
        <div>
          <h2>Trình độ học vấn</h2>
          <p>{{job.academicLevel.code}}</p>
        </div>
      </div>
      <div class="ml-5">
        <div>
          <h2>Số lượng tuyển</h2>
          <p>{{job.qtyPerson}} người</p>
        </div>
        <div>
          <h2>Vị trí ứng tuyển</h2>
          <p>{{job.jobPosition.code}}</p>
        </div>
        <div>
          <h2>Kinh nghiệm </h2>
          <p>{{job.numberExperience}}</p>
        </div>
      </div>
    </div>
    <h2>Địa điểm làm việc</h2>
    <div class="badge badge-info mr-2 p-5 container">
      <div>
        <p>{{job.addressWork}}</p>
      </div>
    </div>
    <h2>Mô tả công việc</h2>
    <div class="badge badge-info mr-2 p-5 container">
      <div>
        <p>{{job.description}}</p>
      </div>
    </div>
    <h2>Quyền lợi</h2>
    <div class="badge badge-info mr-2 p-5 container">
      <div>
        <p>{{job.benefits}}</p>
      </div>
    </div>
  </div>
</ng-template>

<p-dialog header="Nhập lý do" [(visible)]="displayPosition" [position]="position" [modal]="true"
          [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <div class="container text-center">
    <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="reasonDto.reason"></textarea>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" type="submit" (click)="onRefuse()" label="Yes" class="p-button-text"></p-button>
    <p-button icon="pi pi-times" (click)="displayPosition=false" label="No" class="ml-2"></p-button>
  </ng-template>
</p-dialog>

<ngx-popup-reason [displayPosition]="displayPositionReason" (checkedChange)="displayPositionReason = $event" [content]="job.reason"></ngx-popup-reason>
