<div class="d-flex justify-content-lg-start container bg-success p-3 rounded mb-4" style="width: 400px">
  <div class="ml-2 container">
    <div class="d-flex justify-content-lg-between">
      <a (click)="onReadDetail(job.id)" style="cursor: pointer;" class="display-5 font-weight-bold" >{{job.name}}</a>
      <p class="badge badge-secondary">{{this.job.dueDate | date}}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="badge badge-secondary mr-2" style="cursor: pointer;">{{job.qtyPerson}} người</p>
      <p class="badge badge-secondary mr-2">{{job.views}}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="badge badge-secondary mr-2">{{job.salaryMin}}-{{job.salaryMax}} triệu</p>
      <p class="badge badge-secondary mr-2">{{job.addressWork}}</p>
      <p class="badge badge-secondary mr-2">{{job.skills}}</p>
      <p class="badge badge-secondary mr-2">{{this.job.createDate | date}}</p>
    </div>
  </div>
</div>
