
<ng-template [ngIf]="user" >
  <div class="container">
    <div class="d-flex">
      <div>
        <p-avatar
          image="https://cdn.topcv.vn/80/company_logos/cong-ty-cp-giao-duc-educa-corporation-6d67556358b65494d801a26a77be21fb-5ea7b55a0ca31.jpg"
          pBadge value="4" severity="danger" size="xlarge"></p-avatar>
      </div>
      <div class="ml-5">
        <h2 href="#" class="display-5 font-weight-bold">{{this.user.name}}</h2>
        <p class="mt-3">Email: {{this.user.email}}</p>
      </div>
    </div>
    <h2>Thông tin chung</h2>
    <div class="d-flex justify-content-around badge badge-info mr-2 p-5">
      <div>
        <div>
          <h2>Số điện thoại: </h2>
          <p>{{this.user.phoneNumber}}}</p>
        </div>
        <div>
          <h2>Quê quán</h2>
          <p>{{this.user.homeTown}}</p>
        </div>
        <div>
          <h2>Giới tính</h2>
          <p>{{this.user.gender}}</p>
        </div>
      </div>
      <div class="ml-5">
        <div>
          <h2>Quyền: </h2>
          <p>{{this.user.roles}} người</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template [ngIf]="profiles" >
  <div class="container">
    <h2>Thông tin chi tiết </h2>
    <div class="d-flex justify-content-around badge badge-info mr-2 p-5">
      <div>
        <div>
          <h2>desiredWorkingForm: </h2>
          <p>{{this.profiles.desiredWorkingForm}}}</p>
        </div>
        <div>
          <h2>Năm kinh nghiệm: </h2>
          <p>{{this.profiles.numberYearsExperience}}</p>
        </div>
        <div>
          <h2>Địa chỉ làm việc mong muốn</h2>
          <p>{{this.profiles.desiredWorkingAddress}}</p>
        </div>
      </div>
      <div class="ml-5">
        <div>
          <h2>Mức lương mong muốn</h2>
          <p>{{this.profiles.desiredSalary}}</p>
        </div>
        <div>
          <h2>Trình độ học vấn: </h2>
          <p>{{this.profiles.academicLevel.code}} </p>
        </div>
        <div>
          <h2>Kĩ năng: </h2>
          <p>{{this.profiles.skill}}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
