<ng-template [ngIf]="user">
  <div class="d-flex justify-content-lg-start container bg-info p-3 rounded mb-4">
    <div>
      <p-avatar
        [image]="avatar"
        size="xlarge"></p-avatar>
    </div>
    <div class="ml-5">
      <div class="d-flex justify-content-lg-between">
        <a  style="cursor: pointer;" class="display-5 font-weight-bold mr-5">{{this.user.userName}}</a>
        <p class="badge badge-secondary mr-2">{{this.user.birthday| date}}</p>
      </div>
      <div class="d-flex justify-content-between">
        <p class="badge badge-secondary mr-2" style="cursor: pointer;" (click)="onReadUserDetail(this.user.id)">{{user.name}}</p>
        <p class="badge badge-secondary mr-2">{{this.user.gender}}</p>
      </div>
      <ng-template [ngIf]="user.active===false" >
        <p-button class="mr-2" label="Tái kích hoạt" icon="pi pi-check" iconPos="right" [loading]="" (onClick)="onDeactivate(this.user.id)"></p-button>
      </ng-template>

      <ng-template [ngIf]="user.active===true " >
        <p-button class="mr-2" label="Hủy kích hoạt" icon="pi pi-times" iconPos="right" [loading]="" (onClick)="onDeactivate(this.user.id)"></p-button>
      </ng-template>
    </div>
  </div>
</ng-template>

